@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    background-color: #021b29;
    line-height: 20px;
    color: #fff;
    scroll-behavior: smooth;
  }
}
.activeLine1 {
  @apply rotate-45 origin-left translate-x-[-2px] translate-y-[1px];
}

.activeLine2 {
  @apply -translate-x-2 opacity-0;
}

.activeLine3 {
  @apply -rotate-45 origin-left translate-x-[-2px] translate-y-[2px];
}
