@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    background-color: #021b29;
    line-height: 20px;
    color: #fff;
    scroll-behavior: smooth;
  }
}
